
@{
    ViewBag.Title = "OrderSuccess";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div id="content">
    <div id="quanlygiohang">
        <h1>Đặt hàng thành công</h1>
        <h4>Đơn hàng sẽ giao tới trong vòng 1 tuần tới</h4>
        <a style="color: black;" href="/Home/Index">
            <input type="button" value="Tiếp tục mua hàng" />
        </a>
    </div>
</div>

