
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayout.cshtml";
}

<div class="container-fluid">
    <!-- row -->
    <div class="row">
        <div class="col-xl-12 col-xxl-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Thêm hãng sản xuất</h4>
                </div>
                <div class="card-body">
                    <div class="basic-form">
                        @using (Html.BeginForm("Create", "HangSanXuatAdmin", FormMethod.Post))
                         {
                            <div class="form-group">
                                <label>Mã hãng sản xuất</label>
                                <input type="text" class="form-control input-default" name="MaHangSanXuat">
                            </div>
                            <div class="form-group">
                                <label>Tên hãng sản xuất</label>
                                <input type="text" class="form-control input-default" name="TenHangSanXuat">
                            </div>
                            <div class="form-group">
                                <label>Tình trạng hãng sản xuất</label>
                                <select class="form-control" name="TinhTrangHSX">
                                    <option selected>--Chọn tình trạng--</option>
                                    <option value="1">Khóa</option>
                                    <option value="0">Mở</option>
                                </select>
                            </div>
                            <input type="submit" class="btn  btn-square btn-info" />
                         }
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

